.container{
    width: 100%;
}

.boat-container{
    margin: 0 auto;
    width: 500px;
}

.person-block-left{
    vertical-align: top;
    display: inline-block;
    width: 150px;
}

.person-block-right{
    margin-top: 0;
    display: inline-block;
    margin-left: 40px;
    width: 150px;
}
