.person-item {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.active {
    -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 13, 255, 1);
    -moz-box-shadow: 0px 5px 18px 0px rgba(0, 13, 255, 1);
    box-shadow: 0px 5px 18px 0px rgba(0, 13, 255, 1);
}
